{% extends "portfolio/base.html" %}



{% block content %}
<nav>
    <a href="{% url 'home' %}"><div class="nav-left">MYPORTFOLIO</div></a>
    <div class="nav-right">
        <ul>
            <li><strong>My Projects</strong></li>
        </ul>
    </div>
</nav>
<div class="space-btw-nav" id="about-me"></div>
<div class="container">
    <section>
        <h2>Project Name</h2>
        <div>
            <img>
        </div>
        <p>Ce projet a été conçu pour...</p>
    </section>
</div>
{% endblock %}