body{
    box-sizing: content-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2920202a;
    color: #eee;
    text-align: center;

}

.container{
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}

.space-btw-nav{
    height: 80px;
}

.space-btw-footer{
    height: 150px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    border-bottom: 1.5px solid gray;
    background-color: #21212c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-right ul li{
    display: inline-block;
    list-style-type: none;
    margin: 5px 25px;
}


.nav-left{
    font-size: 30px;
    color: rgba(57, 86, 212, 0.8);
    border: 1px solid rgb(57, 86, 212);
    padding: 2px;
    letter-spacing: 3px;
}

h2{
    color: rgba(57, 86, 212, 0.8);
}

hr{
    width: 40%;
    border: 1px solid rgba(57, 86, 212, 0.8);
}

a{
    color: #eee;
    text-decoration: none;
}

a:hover{
    color: rgba(57, 86, 212, 0.8);
}

section{
    margin: 25px 5px;
    padding: 25px 5px;
    background-color: #21212c;
    border-radius: 15px;
}

.home-content{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.home-left{
    width: 50%;
    text-align: left;
    display: flex;
    align-items: center;
}

.home-right{
    width: 25%;
    margin: 15px;
    text-align: justify;
}

.pseudo{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(1, 1, 58);
}

.home-bottom{
    padding: 20px 5px;
    font-size: 20px;
    width: 80%;
    margin: 10px auto;
    text-align: justify;

}

.dev{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(1, 1, 58);
}

#img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.checkIcon{
    color: rgb(1, 1, 58);
    font-size: 25px;
    font-weight: bolder;
}

h3{
    font-size: 20px;
}

.skills-container ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 25px;
    
}

.skills-container ul li{
    width: 100%;
    margin: 10px 10px;
    list-style-type: none;
}

.skills-container ul li img{
    width: 35%;
}

.contact-container{
    padding: 15px;
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

label{
    text-align: center;
    margin-bottom: 20px;
}

button{
    margin: 0 auto;
    width: 30%;
    background-color: rgb(1, 1, 58);
    color: #eee;
    border-radius: 5px;
}

button:hover{
    font-weight: bolder;
    color: rgb(1, 1, 58);
    background-color: #eee;
}

.article-container ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 25px;
}

.article-container ul li{
    list-style-type: none;
}

article{
    width: 100%;
    height: 200px;
    background-color: #464141;
}

#social{
    display: flex;
    justify-content:flex-end;

}

#social > div{
    margin: 0 25px;
}

#social li{
    display: inline-block;
    margin: 0 10px;
    list-style-type: none;
}

footer{

    border-top: 1.5px solid gray;
    background-color: #21212c;
    color: rgba(57, 86, 212, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}